[submodule "self-balancer/lsm6ds3-pid"]
	path = self-balancer/lsm6ds3-pid
	url = git@github.com:STMicroelectronics/lsm6ds3-pid.git
[submodule "self-balancer/nanopb"]
	path = self-balancer/nanopb
	url = git@github.com:nanopb/nanopb.git
[submodule "self-balancer/application/test/libs/googletest"]
	path = self-balancer/application/test/libs/googletest
	url = git@github.com:google/googletest.git
